.before-after {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 23px;
  text-align: center;
  padding-bottom: 64px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    justify-content: space-between;
    width: 590px;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 81px;
    margin-top: 33px;
  }
}

.before-after__label {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.24);

  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  }

  &:active {
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.45;
  }
}

.before-after__range {
  position: absolute;
  content: "";
  width: 84px;
  height: 14px;
  top: 43px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid $special_grey;
  border-radius: 6px;
  background-color: $basic_white;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    border-radius: 6px;
    top: 55px;
    background: $special_grey7 no-repeat;
  }

  @media (min-width: $desktop-width) {
    top: 33px;
  }
}

.before-after__toggle {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background: $basic_white no-repeat;
    border: 1px solid $special_grey;
    border-radius: 50%;
    box-shadow: (0px 1px 3px rgba(0, 0, 0, 0.16));
  }

  &:hover {
    box-shadow: (0px 2px 4px rgba(0, 0, 0, 0.19));
  }

  &:active {
    box-shadow: (0px 3px 5px rgba(0, 0, 0, 0.2));
    border: 1px solid $basic_green;
  }

  @media (min-width: $desktop-width) {
    top: -16px;
  }
}

.before-after__inside {
  position: absolute;
  content: "";
  width: 35px;
  height: 6px;
  top: 3px;
  left: 6%;
  background: $basic_green no-repeat;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    width: 8px;
    height: 8px;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    background: $basic_green no-repeat;
    border-radius: 50%;
  }
}
