.card-product__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    justify-content: center;
    align-items: center;
  }
}

.card-product__item {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  color: $special_dark-grey;
  width: 142px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    font-size: 16px;
    padding-bottom: 9px;
    padding-top: 7px;
    line-height: 1;
    width: 247px;
    border-bottom: 1px solid $special_grey;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    width: auto;
    padding-bottom: 9.3px;
    padding-top: 6.5px;
  }
}

.card-product__button {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    width: 248px;
    margin: 0;
    margin-top: 33px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.card-product__picture {
  display: block;
  padding-top: 33px;
  padding-bottom: 25px;
  max-width: 100%;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.card-product__picture-big {
  display: block;
  padding-top: 22px;
  padding-bottom: 13.2px;
  max-width: 100%;

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.card-product__name {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.25;
  color: $basic_black;
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 20px;
    line-height: 1.2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    width: 145px;
  }
}

.card-product__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 18px;

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}
