.cat-data__title {
  padding-left: 20px;
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
  color: $basic_black;
  border-top: 1px solid $special_grey4;
}

.cat-data__subtitle {
  padding-top: 37px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 18px;
  color: $basic_black;
}
