.cat-data__title {
  margin: 0;
  padding-left: 20px;
  padding-top: 27px;
  font-size: 36px;
  line-height: 1;
  color: $basic_black;
  border-top: 1px solid $special_grey4;
}

.cat-data__subtitle {
  margin: 0;
  padding-top: 37px;
  padding-left: 20px;
  color: $basic_black;
}

.cat-data__contact-details {
  margin-left: 20px;
  margin-top: 26px;
}
