.catalog__title {
  position: relative;
  margin: 0;
  padding-bottom: 41px;
  padding-top: 27px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: $special_dark-grey-2;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 163px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
  }
}

.catalog__title::after {
  position: absolute;
  content: "";
  width: 328px;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background: no-repeat bottom $special_grey2;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog__list {
  margin: 0;
  padding-left: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-left: 0;
  }
}

.catalog__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 324px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 431px;
  }
}

.catalog__item::after {
  position: absolute;
  content: "";
  width: 328px;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background: no-repeat bottom $special_grey2;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog__item:nth-child(2n + 1) {
  @media (min-width: $tablet-width) {
    margin-right: 60px;
  }
}

.catalog__item:last-child {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    border: 2px solid $basic_grey;
  }
}

@media (min-width: $tablet-width) {
  .catalog__item:not(:last-child) {
    background-color: $basic_grey;
  }
}

.catalog__item:not(:nth-child(4n)) {
  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}

.catalog__item:nth-child(-n + 6) {
  @media (min-width: $tablet-width) {
    margin-bottom: 141px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.catalog__item:nth-child(-n + 4) {
  @media (min-width: $desktop-width) {
    margin-bottom: 141px;
  }
}
