.extra__title {
  position: relative;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 400;
  width: fit-content;
  grid-column: 1/1;
  padding-right: 23px;
  padding-left: 23px;
  margin-left: -23px;
  margin-top: 23px;
  margin-bottom: 34px;
  background: $basic_white;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 62px;
    margin-top: 65px;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: -40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-top: 0;
    grid-column: 1/5;
  }
}

.extra__title::after {
  position: absolute;
  content: "";
  display: block;
  width: 200vw;
  height: 2px;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  background: $basic_green;

  @media (min-width: $tablet-width) {
    top: 22px;
  }
}

.extra__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/5;
  }
}

.extra__item {
  margin: 0;
}

.extra__item:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .extra__item:nth-child(2n + 1) {
    margin-right: 188px;
  }

  .extra__item:nth-child(odd) {
    margin-bottom: 42px;
  }

  .extra__item:nth-child(even) {
    margin-bottom: 42px;
  }
}

@media (min-width: $desktop-width) {
  .extra__item:nth-child(2n + 1) {
    margin: 0;
  }

  .extra__item:nth-child(odd) {
    margin: 0;
  }

  .extra__item:nth-child(even) {
    margin: 0;
  }
}

.extra__item label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.13;
  color: $basic_black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.45;
  }
}

.extra__checkbox + label::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  top: -7px;
  left: -40px;
  margin-right: 19px;
  border: 1px solid $special_grey;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: -57px;
  }
}

.extra__checkbox:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 17.718L5.3 11.2695L4.25 12.4574L11 20.0938L22.25 7.36648L21.2 6.09375L11 17.718Z' fill='%2368B738'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 19.499L2.4 10.901L1 12.4848L10 22.6667L25 5.69697L23.6 4L10 19.499Z' fill='%2368B738'/%3E%3C/svg%3E%0A");
  }
}

.extra__item input:disabled + label {
  color: rgba(34, 34, 34, 0.3);
}

.extra__checkbox:hover + label::before {
  border: 1px solid $basic_grey2;
}

.extra__checkbox + label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
