.extra__content {
  border: none;
}

@media (min-width: $tablet-width) {
  .extra__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.extra__title {
  margin: 0;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 34px;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
  }
}

.extra__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.extra__item label {
  margin-left: 16px;
  font-size: 16px;
  line-height: 1.13;
  color: $basic_black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.45;
  }
}

.extra__checkbox:not(:last-child) {
  margin-bottom: 12px;
}
