.page-footer__center {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    background-color: $basic_grey;
  }
}

.page-footer__logo {
  padding-top: 39px;
  padding-left: 96px;
  padding-right: 96px;
  padding-bottom: 52px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-footer__social {
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
