.gift__center {
  position: relative;
  width: 280px;
  height: 289px;
  margin-top: 24px;
  margin-bottom: 35px;
  background: url("../img/gift-photo.jpg") no-repeat center;
  background-size: 280px 289px;
}

.gift__description {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 186px;
  color: $basic_white;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.gift__center::before {
  position: absolute;
  content: "";
  order: 2;
  left: 50%;
  transform: translateX(-50%);
  background: url("../img/icon_gift.svg") no-repeat center;
}
