.gift__center{
  width: 280px;
  height: 289px;
  margin: 24px 20px 35px 20px;
  background: url("../../img/gift-photo.png") no-repeat center;
  background-size: 280px 289px;
}

.gift__description{
  position: relative;
  padding-top: 186px;
  color: $basic_white;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.gift__description::before{
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  background: url("../../img/icon_gift.png") no-repeat center;
}
