.live-example {
  background-color: $special_dark-grey3;

  @media (min-width: $tablet-width) {
    background-color: $basic_white;
  }
}

.live-example__container {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.live-example__list-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .live-example__cat-block {
    grid-area: 1/2/3/-1;
  }
}

.live-example__center {
  margin-top: 42px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0;
  }
}

.live-example__title {
  margin: 0;
  font-size: 36px;
  line-height: 1.1;
  font-weight: 400;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    padding-top: 42px;
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .live-example__text-container {
    grid-row: 1/2;
  }
}

.live-example__text {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: $special_dark-grey;
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    padding-top: 63px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    padding-top: 76px;
    width: 436px;
  }
}

.live-example__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: auto;
  }
}

@media (min-width: $tablet-width) {
  .live-example__item:first-child {
    margin-right: 99px;
  }
}

.live-example__item {
  text-align: center;
}

.live-example__number {
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.live-example__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  padding-top: 9px;
  font-size: 12px;
  color: $special_dark-grey;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding: 0;
    margin-top: -9px;
  }
}

.live-example__expenses {
  margin: 0;
  padding-top: 25px;
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: right;
    width: 174px;
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
}

.live-example__picture {
  display: block;

  @media (min-width: $tablet-width) {
    width: 690px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: -150px;
  }
}

.before-after {
  padding-top: 23px;
  text-align: center;
  padding-bottom: 25px;

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 81px;
    margin-top: 33px;
  }
}

.before-after__label {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.45;
  }
}

.before-after__toggle {
  width: 84px;
  height: 14px;
  margin-left: 13px;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
  }
}

.live-example__border-weight {
  @media (min-width: $desktop-width) {
    padding: 15px 57px 20px;
    border: 1px solid $special_grey;
    border-radius: 3px;
  }
}

.live-example__border-days {
  @media (min-width: $desktop-width) {
    padding: 15px 30px 20px;
    border: 1px solid $special_grey;
    border-radius: 3px;
  }
}

.live-example__background {
  @media (min-width: $desktop-width) {
    background: linear-gradient(to right, #f2f2f2 73%, #eaeaea 27%);
  }
}

.live-example__inner {
  @media (min-width: $desktop-width) {
    width: 1260px;
    margin: auto;
  }
}
