.adress{
  display: flex;
}

.adress__title{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_black2;
  padding-left: 20px;
  padding-top: 28px;
  padding-bottom: 26px;
}

.adress__union{
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
  padding-top: 28px;
  padding-left: 20px;
}

.location__bg-grey{
  background-color: $basic_grey;
}
