.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    width: 62%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
    width: 45%;
  }
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
