.main-nav {
  position: relative;
  width: 320px;
  padding-left: 20px;
  min-height: 65px;
  background-color: $basic_white;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    width: 62%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
    width: 45%;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 24px;
  height: 16px;
  background-color: $basic_white;
  cursor: pointer;
  border: none;

  &:active {
    background-color: $basic_white;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -13px;
  width: 24px;
  height: 2px;
  background-color: $basic_black;
  box-shadow: 0 8px 0 0 $basic_black, 0 16px 0 0 $basic_black;

  &:active {
    background-color: $basic_white;
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: -13px;
    width: 24px;
    height: 2px;
    background-color: $basic_black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
