.offer{
  background-image: url("../../img/index-background-desktop.jpg");
  background-size: 320px 302px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.offer__header{
  text-align: center;
}

.offer__title{
  color: $basic_white;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 27px;
}

.offer__slogan{
  font-size: 14px;
  line-height: 14px;
  color: $basic_white;
  font-weight: 400;
  padding-top: 25px;
}

.offer__header img{
  margin-top: 29px;
  margin-left: 20px;
}

.offer__link{
  margin-left: 20px;
  margin-top: 3px;
  font-weight: 400;
}
