.owner-data__title {
  margin: 0;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 400;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
  }
}

.owner-data__center {
  margin-top: 35px;
}

.owner-data__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.owner-data__item label {
  font-size: 16px;
  line-height: 1.13;
  color: $special_dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.45;
  }
}

.owner-data__item input[placeholder] {
  font-size: 16px;
  line-height: 1.13;
  color: $special_dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.45;
  }
}

.owner-data__input {
  padding: 0;
}

.owner-data__email {
  margin: 0;
  width: 219px;
  height: 45.15px;
  margin-left: 11px;
  margin-bottom: 14.05px;
}

.owner-data__tel {
  margin: 0;
  width: 204px;
  height: 45.15px;
  margin-left: 8px;
}
