.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header--index::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #63a73a;
    z-index: -1;
  }
}

.page-header__center {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 20px 17px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 29px 62px 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
  }
}

.page-header__logo {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 174px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
    width: 202px;
    height: auto;
  }
}
