.parameters__center {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.parameters__content {
  margin: 0;
  margin-top: 39px;
  margin-bottom: 24px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    margin-top: 66px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.parameters__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.parameters__item:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.parameters__category {
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.45;
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.parameters__item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.parameters__value {
  flex-grow: 1;
}

.parameters__item:nth-child(1) label {
  margin-right: 15px;
}

.parameters__item:nth-child(2) label {
  margin-right: 6px;
}

.parameters__item:nth-child(3) label {
  white-space: nowrap;
}

.parameters__value[placeholder] {
  padding: 0;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 15px;
  text-align: left;
  font-size: 16px;
  line-height: 1.13;
  color: $special_dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.45;
  }
}
