.production__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.production__item {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.production__center {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 632px;
    margin-bottom: 21.7px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.production__category {
  display: inline-block;
  margin-top: 13px;
  margin-bottom: 13px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
  color: $special_dark-grey-2;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 1;
  }
}

.production__link {
  position: relative;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.production__link::after {
  position: absolute;
  content: "";
  width: 280px;
  height: 1px;
  top: 57px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $special_grey;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.production__price {
  margin-right: 20px;
}
