.request__button {
  margin-top: 34px;
}

.request__necessarily {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  color: $basic_black;
  margin-left: 62px;
  margin-top: 21px;
  margin-bottom: 32px;
}
