.request__button{
  margin-top: 34px;
}

.request__necessarily{
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: $basic_black;
  margin-left: 82px;
  margin-top: 21px;
  margin-bottom: 32px;
}
