.selection-list__item {
  width: 280px;
  height: 266px;
  margin: 20px;
  background-color: $basic_grey;
  text-align: left;
}

.selection-list__title {
  font-size: 25px;
  line-height: 37px;
  padding-top: 30px;
  padding-left: 91px;
}

.selection-list__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-left: 20px;
  padding-top: 29px;
  color: $special_dark-grey;
}

.selection-list__link {
  display: block;
  color: $basic_black;
  font-size: 16px;
  line-height: 16px;
  padding-left: 19px;
  padding-top: 42px;
  text-transform: uppercase;
  text-decoration: none;
}
