.selection-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.selection-list__item {
  width: 280px;
  height: 266px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $basic_grey;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 30px;
    width: 708px;
    height: 372px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 570px;
  }
}

@media (min-width: $desktop-width) {
  .selection-list__item:nth-child(1) {
    margin-right: 80px;
  }
}

.selection-list__title {
  position: relative;
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 1.54;
  font-weight: 400;
  padding-top: 30px;
  padding-left: 91px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
    padding-top: 77px;
    padding-left: 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 77px;
    padding-bottom: 73px;
    text-align: center;
  }
}

.selection-list__title--slim::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 53px;
  top: 20px;
  left: 20px;
  background: url("../img/cat_slim.svg") no-repeat left;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
    top: 80px;
    left: 450px;
    background: url("../../img/cat_slim-tablet.svg") no-repeat right;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    top: 40px;
    left: 50px;
    background: url("../img/cat_slim-desktop.svg") no-repeat left;
  }
}

.selection-list__title--pro::before {
  position: absolute;
  content: "";
  width: 67px;
  height: 50px;
  top: 20px;
  left: 10px;
  background: url("../img/cat_pro.svg") no-repeat left;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    top: 80px;
    left: 415px;
    background: url("../../img/cat_pro-tablet.svg") no-repeat right;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    top: 40px;
    left: 30px;
    background: url("../img/cat_pro-desktop.svg") no-repeat left;
  }
}

.selection-list__description {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  padding-left: 20px;
  padding-top: 29px;
  padding-right: 33px;
  width: auto;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-left: 52px;
    padding-right: 316px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-left: 52px;
    padding-right: 51px;
    text-align: left;
    width: auto;
  }
}

.selection-list__link {
  display: block;
  position: relative;
  color: $basic_black;
  font-size: 16px;
  line-height: 1;
  padding-left: 19px;
  padding-top: 42px;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    padding-top: 48px;
    padding-left: 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 23px;
    padding-left: 52px;
  }
}

.selection-list__link::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 12px;
  top: 45px;
  left: 120px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='12' viewBox='0 0 24 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='6' x2='18' y2='6' stroke='black' stroke-width='2'/%3E%3Cpath d='M24 6L17.25 11.1962L17.25 0.803848L24 6Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    top: 58px;
    left: 175px;
  }

  @media (min-width: $desktop-width) {
    top: 33px;
    left: 180px;
  }
}

.selection-list__link::after {
  position: absolute;
  content: "";
  width: 240px;
  height: 1px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $special_grey4;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
