.show-more {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    border: 2px solid $basic_grey;
    width: 324px;
    height: 430px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 431px;
  }
}

.show-more__title {
  margin: 0 auto;
  position: relative;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  padding-top: 78px;
  text-transform: uppercase;
  text-align: center;
  color: $basic_black2;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 20px;
    line-height: 1.1;
    padding-top: 161px;
    width: 134px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 160px;
  }
}

.show-more__text {
  margin: 0 auto;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  color: $special_dark-grey;
  text-align: center;
  margin-top: 8px;

  @media (min-height: $tablet-width) {
    font-size: 16px;
    line-height: 1.12;
    margin: 0 auto;
    margin-top: 23px;
    width: 167px;
  }
}

.show-more__link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 21px;
  padding: 10px 94px;
  color: $special_dark-grey;
  background-color: $basic_grey;

  &:hover {
    background-color: $special_grey2;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 87px;
    padding: 10px 79px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 40px;
    padding: 10px 39px;
  }
}

.show-more__title::before {
  position: absolute;
  content: "";
  width: 30px;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  height: 30px;
  background: url("../img/plus.png") no-repeat center;

  @media (min-width: $tablet-width) {
    top: 30%;
  }
}
