.site-list {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    width: 320px;
    left: 0;
    top: 65px;
    margin: 0;
    padding: 0;
    z-index: 1;
    list-style: none;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 440px;
    flex-wrap: wrap;
    list-style: none;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
  }
}

.site-list__item {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;

    &--current {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -10px;
        left: 0;
        height: 2px;
        background: $basic_green;
      }
    }

    @media (min-width: $desktop-width) {
      &--current {
        position: relative;

        &::after {
          background-color: $basic_white;
        }
      }
    }
  }

  @media (min-width: $tablet-width) {
    &--current-form {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -10px;
        left: 0;
        height: 2px;
        background: $basic_green;
      }
    }

    &--current-catalog {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -10px;
        left: 0;
        height: 2px;
        background: $basic_green;
      }
    }

    &--current-index {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -10px;
        left: 0;
        height: 2px;
        background: $basic_green;
      }
    }
  }
}

.site-list__item a {
  position: relative;
  display: block;
  background-color: $basic_white;
  font-family: inherit;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid $special_grey6;
  text-decoration: none;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 500;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 1.33;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    font-size: 20px;
    line-height: 1.45;
    font-weight: 400;
    color: $basic_black;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item--index a {
    color: $basic_white;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item--form a {
    color: $basic_black;
  }
}
