*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  counter-reset: number;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// * {
//   --out-width: 2px;
//   outline: var(--out-width) solid red;
//   outline-offset: calc(0px - var(--out-width));
//   &::before, &::after {
//     outline: var(--out-width) solid lime;
//     outline-offset: calc(0px - var(--out-width));
//   }
// }
