// Colors

$basic_green:#68b738;
$basic_grey:#f2f2f2;
$special_grey2:#ebebeb;
$special_grey:#cdcdcd;
$special_grey3:#666666;
$special_grey4:#d9d9d9;
$special_grey5: #e7e7e7;
$special_grey6: #e6e6e6;
$special_grey7: #dcdcdc;
$special_dark-grey3:#eaeaea;
$special_dark-grey:#444444;
$special_dark-grey-2:#222222;
$status_error:#ff8282;
$basic_green-2:#5eaa2f;
$basic_white:#ffffff;
$basic_black:#000000;
$basic_black2:#111111;

// Viewport

$tablet-width: 768px;
$desktop-width: 1260px;
$mobile-width-only: 767px;

// Mixin

@mixin container {
  min-width: 768px;
  box-sizing: border-box;
  margin: 0 auto;
}

@mixin container-desktop {
  min-width: 1260px;
  box-sizing: border-box;
  margin: 0 110px;
}
